    
    <div class='container-fluid border bg-light'>
        <div class='row'>
            <div class='col-4 d-flex flex-column justify-content-center align-items-start'>
                <h4 class='text-left'>CurioCorner</h4>
                <p class='text-left'><a class='text-muted' href='/about'>About CurioCorner</a></p>
            </div>
            <div class='col-4 d-flex flex-column justify-content-center align-items-center'>
                <h4 class='text-center m-1'>Creators</h4>
                <p class='text-center m-1'>Darci Dietrich | email@email.com</p>
                <p class='text-center m-1'>Andrew Martin | email@email.com</p>
            </div>
            <div class='col-4 d-flex justify-content-end align-items-center'>
                <p class='text-right'>See an issue? Submit a ticket, <a href='https://github.com/ajmartin94/CurioCorner/issues/new'>here!</a></p>
            </div>
        </div>
    </div>
    
    
    <script src='/js/jquery.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
</body>
</html>