<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurioCorner</title>

    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel="stylesheet" href="../../public/css/style.css">

    <script src="https://cdn.tiny.cloud/1/eydq03zmxs43oo830iqif1ywwtbfpobfhu3hz0mkr6gn2081/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body class='bg-light'>