<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %> 

<div class='container'>
    <h1 class='h3'>About CurioCorner</h1>
    <blockquote>CurioCorner is an app made in the second unit of the Software Engineering Immersive course at General Assembly. The authors, Darci Dietrich and Andrew Martin, are students of the class and completed the task of designing a stand-alone application built with NodeJS, Express, Sequelize, and JWT. Enjoy the project and get posting!</blockquote>

    <h2 class='h4'>How to Use CurioCorner</h2>
    <div class='container-fluid'>
        <ul>
            <li>Make an account</li>
            <li>Find an inspirational project</li>
            <li>Let the creator know you like their work</li>
            <li>Follow your favorite creators</li>
            <li>Leave feedback on projects</li>
            <li>Have fun!</li>
        </ul>
    </div>
</div>


<%- include("./partials/footer.ejs") %> 