<%- include('./partials/header.ejs') %>
<%- include("./partials/navbar.ejs") %> 
<div class = "container text-center">
    
    <form action='/auth/login' method='POST' class = "form-signin">
        <h1 class = "form-signin-heading mb-3">Login</h1>
        <label for = "usernameInput" class = "sr-only">Username</label>
        <input type="text" class = "form-control" name="username" id = "usernameInput" placeholder = "Username" required autofocus>
        <label for = "passwordInput" class = "sr-only">Password:</label>
        <input type="password" class = "form-control" name="password" id="passwordInput" placeholder = "Password" required><br>
        <%if(correct === "0") {%>
            Sorry, that account either doesn't exist or the password is incorrect. Please try again!
            <br>
            <br>
            <% } %>
        <button type="submit" class = "btn btn-lg btn-primary btn-block">Login</button>
    
    </form>
    
    <a href = "/auth/signUp">Not a User? Sign Up!</a>
</div>

<%- include('./partials/footer.ejs') %>