<%- include('./partials/header.ejs') %>


<h1>Login Page</h1>
<form action='/auth/login' method='POST'>
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>



<%- include('./partials/footer.ejs') %>