<%- include('./partials/header.ejs') %>


<h1>Signup Page</h1>
<form action='/auth/signUp' method='POST'>
    Name: <input type="text" name="name"><br><br>
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>



<%- include('./partials/footer.ejs') %>